
<ion-header>

  
</ion-header>

<ion-content class="ion-content">




    <div class=container>
      <div class="col-12"> 
        <div class="card cardbg">
        <div class="row h-50">
          <div class="col-4 avatar cardprofil d-table-cell align-middle h-100">  
            <img class="avatar" src="/assets/avatar.png" alt="addpic">                           
              </div>

              <div class="col-6 h-100 nameasso">
                <div class="card card-tilte">  
                  

                  <div class=form-group>
                    <input type="text" class=" form-control input"
                        placeholder="Unibee" ></div>
                     


  
            <h6>Association evenementielle</h6>    
                </div>
              </div>
          
        </div>

<!--
          <div class="col-12 contact1 form-group" >
          <p class="smalltitle">Email</p>
          <input placeholder="Adresse email" type="text" class="inputsmall form-control">
          </div>-->


        <div class="col-12 contact2">
          <p class="smalltitle">Numéro de téléphone</p>
          <input placeholder="Ajouter un numéro" type="text" class="inputsmall form-control">
        </div>



        </div>

        <div class="col-12 info">
          <p class="smalltitle">Informations</p>
          <ion-textarea placeholder="Ajouter une description" type="text" class="inputinfo form-control"></ion-textarea>
        </div>

        
      </div>

      
      </div>
      <div class="container2">
        <div class="row col-12 d-flex justify-content-center align-items-center>">
          <button type="submit" class="btn btn-custom font">Valider</button>
                </div>
      </div>
</ion-content>


<footer >

  


    
</footer>