<ion-content>

  <div class="container">
    <div class="col-12"> 
        <h4 class="h4 mt-5 mb-5">Rejoins une communauté <br>de bénévoles actifs</h4> 
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <a href="#" ><img class="choixbouton" src="assets/choixbene-none.svg" alt="logo"/></a>
        <h6 class="h6 mt-2">Je suis <br/>un bénévole</h6> 
      </div>
      <div class="col-6">
        <a href="#" ><img class="choixbouton" src="assets/choixasso-none.svg" alt="logo" /></a>

        <h6 class="h6 mt-2">Je suis <br/>une association</h6> 
      </div>
    </div>
  </div>

</ion-content>
