<ion-header class="text-center">
<h1>
  Proches de chez vous
</h1>
  
</ion-header>


<ion-content>
  <div class="map col-12">
MAP
  <!--<img src="/assets/map.jpg"/>-->
</div>
  <ion-card class="bottom">
    <img class="img" src="/assets/imgbg.jpg" />
    <ion-card-header>
      
      
      
      <ion-card-subtitle class="col-10 ">Les petits frères des pauvres</ion-card-subtitle>
      <div class="dh">
        <div class="col-12 text-right">
          <div class="num">
            <h4 class="h4" style="
          margin-bottom: 0px;">17</h4>
        </div>
        <div class="text-right">
          <div class="mon">
            <h6>Dec</h6>
          </div>
        </div>
        
      </div>
    </div>
    <ion-card-title class="col-11 title">Apprenez aux machines à parler français et apprenez aux machines à parler français</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>