.white{
    --background: rgba(255, 255, 255);
    width: 100%;
    height: 100%;
  }
  


  .bg{
    margin-bottom: -10px;
 // height: 200px;
    width: 100%;
  }
  
  
  
.cardbg {
    margin-left: auto;
    margin-right: auto;
  //  background-color: black;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5x 5px 15px rgb(185, 184, 165);
    height: 25%;
  }



h6{
bottom: 0;
color: black;


}

.posbot{
  padding-left: 7px;
  position: absolute;
bottom: 0;
margin-top: 0px;
padding-top: 7px;
padding-bottom: 5%;
}

.img{
  height: 10px;
}


.bd{
  background-color: rgba(255, 255, 255, 0.87);
 // width: 100%;
  height: fit-content;
}


.title{
  position: relative;
  font-size: .9rem;
  font-weight: bolder;
  margin-top: 10px;


}

.subtitle{
  position: relative;
  font-size: .7rem;
  position: absolute;
  font-weight: light;
  margin-top: -10px;
}


.num{
  position: relative;
  margin-right: 0;
  margin-bottom: 0px !important;
}

.mon{
 position: relative;
 margin-right: 0;

}

.dh{
  position: absolute;

  z-index: 1;
  width: 100%;
  margin-right: 15px;
  right: 0;
  top: 0;
  margin-top: 1%;

}


.h4{
  margin-bottom: 0px !important;
}


.col-12{
margin-bottom: 0px;


}


.top{
  z-index: 2;
  position: absolute;
  margin-left: 5%;
  margin-top: 10%;
}



.h1{

font-size: clamp(30px, 1vw, 60px);
font-weight: bold;

}

.h3{
  font-size: 25px;
}

.h4{
  color: black;
}




.col-10{
  margin-left: -10px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}



.col-8{
  margin-left: 0px;
  padding-left: 0px;
}

.col-12{
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.col-11{
  margin-left: -10px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}


.img{

//width: 100%;
}



.bottom{
    z-index: 2;
    position: absolute;
bottom: 0;
}




ion-header{
    z-index: 1;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    filter: drop-shadow(0px 0px 10px #6b6b6b69);
}


.map{
    position: absolute;
    z-index: 0;
    background-color: yellow;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/imgbg.jpg);
  height: 15vh;
}