.white{
    --background: rgb(255, 255, 255);
}


.back{
    z-index: 1;
      margin-top:2rem;
      width: 1,3rem;
      margin-left: -.3rem;
      position: fixed;
        
      }
  




.event{
    z-index: 0;
  //  position: absolute;
     object-fit: cover;
    height: 100%;
    width: 100%;

}




.addpic{
    fill: black;
    position:absolute;
    opacity: 100%;
    z-index: 1;
    object-fit: cover;
    height: 20rem;
    margin-top: -1rem;


  }

.cardbg {
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    box-shadow: -10px -10px 25px rgba(172, 172, 172, 0.384);
    height: 72%;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: -3rem;
  
  }



  .cardbg2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(185, 184, 165);
    height: 65%;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
  
  }





  .container-fluid{
margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;

.col-12{
    margin:0px;
    padding:0px;
}

  }


  p{
      color: black;
  }



  .map{
      position: relative;
      align-content: center;
      background-color: red;
      height: 25% !important;
      border-radius: 7px;
      margin-bottom: 65px;
  }


  .info{
    height: fit-content;    
    margin-top: 20px;
    padding-top: 1vh;
  }


  .smalltitle{
    margin-top: .3rem;
    font-size: .8rem;
}


.hbt{
    height: fit-content;
    position: relative;
    margin-top: 15px;
    margin-bottom: -20px;
    padding: 0px;
}



h3{
    color:black;
    margin-top: 45px;
    margin-bottom: 45px;
}


h6{
    margin-top: 5px;
    color: black;
    font-size: .6rem;
}


.ico{
;
    margin-top: 10px;
    height: 50px !important;
    width: 50px !important;
}



.inputinfo
{

  line-height: 130%;
  text-align: justify;
  margin-top: .3rem;
font-size: 1rem;
  color: black !important;
  z-index: 1;
  background-color: transparent ;
    margin-top: -1rem;
    margin-left: -10px;
    width: 100%;
    border-color: transparent;
    outline: transparent;
    height: auto;
    line-break: auto;
}






.bv{
    color: white;
    position: sticky center;
    margin-left: 60%;
    margin-right: 100%;
background-color: #f9d655;
    width: 100%;
    border-radius: 15px;
}


.btn{
    margin-bottom: 15px;
}


.adress{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 5px !important;

}


ion-footer{
    background-image: none;
     background-color: transparent;
}


scroll-content {
    overflow: visible !important;

  }

  ion-content{
    margin-top: 0;
    margin-bottom: 0;
  }





.logo{
    position: absolute;
    margin-top: -11.7rem ;
    margin-left: -8px !important;
    width: 100px;
    height: 100px;
    
}

.name{
    z-index: 2;
    background: none;
    position: absolute;
    top: 0;
    margin-top: 30%;
    margin-bottom: 50%;
    margin-left: 100px;

}







  h2{
    font-weight: bold;
          font-size: 12px;
          color:(#f9d655);
      }

      h4{
        margin-bottom: 0px;
        color:#212529;
        font-size: 25px;
    }

    @media screen and (max-width: 320px){
        .back{
            z-index: 1;
              margin-top:1rem;
              width: 1rem;
              margin-left: -.3rem;
              position: fixed;
                
              }
          
    }