<!--

<ion-content fullscreen class="white">





  <div class="container-fluid" rows="12">
    <div class="col-2"> 
      <img class="back" src="assets/back-white.svg" alt="back" />

    </div>

  <div class="col-12">
    <img class="event" src="assets/baseevent2.svg" alt="addpic" />




  <div class="col-12 asso row align-items-center" rows="12" >

    <img class="logo" src="/assets/choixasso-none.png" alt="addpic"> 

  </div>



  
<div class="nevent">
  <h4>Unibee</h4>   
  <h2>Association evenementielle</h2>    
</div>
  
  </div>
  </div>
  
  
    <div class="container-fluid mt-auto">
      <div class=" row col-12 cardbg justify-content-center"> 
  
  
  
        <div class="col-11 hbt cardbg2 row text-center">
  
  
          <div class="col-4">
            <img class="ico" src="assets/date.svg" alt="date de l'event" />
            <h6>Date de l'évènement</h6>
          </div>
  
          
  
          <span class="col-4 border-left border-right">
            <span>
  
              <img class="ico"  src="assets/bene.svg" alt="nombre de benevole" />
              <h6>Bénévoles demandés</h6>
            </span>
          </span>
  
  
  
          <div class="col-4">
            <img class="ico"  src="assets/time.svg" alt="temps restant" />
            <h6>Expiration de l'inscription</h6>
          </div>
  
        </div>
  
  
          <div class="col-11 info">
            <p class="smalltitle">Details de l'évènement</p>
            <ion-textarea>
              <p>Description de l'évent</p>
            </ion-textarea>
          </div>
  
          
  
  
  
  
  
  
  
        <div class="col-11 map">
            <div>  
              <h6 class="col-12 adress"> Adresse de l'evenement </h6>
            </div>
        </div>
  

      </div>
    </div>
  
  
  
  </ion-content>

  <ion-footer text-center no-border transparent>
        <div class="container-fluid">
            <div class="col-6 d-flex>">
              
              <button type="submit" class="btn font bv">Participer</button>
  
          </div>
        </div>
  </ion-footer>
  




























-->









  <ion-content fullscreen class="white">




    <div class="container">
    <div class="col-12 nopad">
    
     <!-- <img class="addpic" src="/assets/addevent2.svg" alt="addpic"> -->
     <div class="event">
       <img class="eventpic" src="assets/baseevent2.svg" />

     </div>
    
    
      <div class="col-12 asso row align-items-center" rows="12" >
    
        <img class="logo" src="/assets/choixasso-none.png" alt="addpic"> 
    
        <div class="nevent"> 
        <h4>Nom event</h4>   
        <h2>Nom asso</h2>  
        </div>
    
      </div>
    
    
    
      
    
    
    </div>
    </div>
    
    
      <div class="container-fluid mt-auto">




        

        <div class="row col-12 cardbg justify-content-center"> 
    
    
    
          <div class="col-11 hbt cardbg2 row text-center">
    
    
            <div class="col-4">
              <img class="ico" src="assets/date.svg" alt="date de l'event" />
              <h6>Date <br/> heure
              </h6>
            </div>
    
            
    
            <span class="col-4 border-left border-right">
              <span>
    
                <img class="ico"  src="assets/bene.svg" alt="nombre de benevole" />
                <h6>0/Bénévoles demandés</h6>              </span>
            </span>
    
    
    
            <div class="col-4">
              <img class="ico"  src="assets/time.svg" alt="temps restant" />
              <h6>Expiration dans HEURES</h6>
            </div>
    
          </div>
    
    
            <div class="col-11 info">
              <p class="smalltitle">Details de l'évènement</p>

                <p>Aucune description n'a été ajoutée pour l'instant.</p>

                        </div>
    
            
    
    
    
    
    
    
    
          <div class="col-11 map ">
            <div>  
              <h6 class="col-12 adress"> Adresse de l'evenement </h6>
            </div>
    
          </div>
    

        </div>
      </div>


    
    
    </ion-content>
    
    <footer text-center no-border transparent>
      <div class="container2">
          <div class="col-12 d-flex>">
            
            <button type="submit" class="btn font bv">Participer</button>

        </div>
      </div>
</footer>