

<ion-content fullscreen class="white">

  <div class="top">
    <h1 class="h1">Rejoignez</h1>
    <h3 class="h3">L’évenement qui <br/> vous plait !</h3>
    </div>
<img class="bg" src="/assets/listbg.svg">




<ion-card class="img">
    <img class="sizeimg" src="/assets/orange.jpg"/>
    <ion-card-header class="posbot bd">
      <ion-card-title class="title">Card Title</ion-card-title>
      <ion-card-subtitle class="subtitle">Card Subtitle</ion-card-subtitle>
      <div class="dh">
        <div class="col-12 text-right">
          <div class="num">
            <h4 class="h4" style="
            margin-bottom: 0px;">17</h4>
          </div>
          <div class="text-right">
            <div class="mon">
              <h6>Dec</h6>
            </div>
          </div>
    
        </div>
      </div>
    
    </ion-card-header>
  </ion-card>  




</ion-content>
    
