<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Publier un Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img (click)="getGallery()" [src]="URL" height="200" width="200">
    <button  (click)="addPhoto()" block style="width : 50% ; height : 50%" >
    
  <img *ngIf="dataEvent.photocrop" [src]="dataEvent.photocrop">
    <img *ngIf="!dataEvent.photocrop" src='assets/addtof.png'>
  </button>
  <ion-button (click)="GoMap()" expand="block"  shape="round">Choisir un lieu</ion-button>
  <ion-input placeholder="Titre" [(ngModel)]="dataEvent.titre"></ion-input>
  <ion-input placeholder="Description" [(ngModel)]="dataEvent.description"></ion-input>
  <ion-input type="number" placeholder="deadline" [(ngModel)]="dataEvent.deadline"></ion-input>
  <ion-input type="number" placeholder="Nombre de places" [(ngModel)]="dataEvent.maxgens"></ion-input>
  <ion-item>
    <ion-label>Choisir une date</ion-label>
      <ion-input  type="date" [(ngModel)]="dataEvent.date"></ion-input>   
  </ion-item>
  <ion-item>
    <ion-label>Heure de début</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="dataEvent.heureD"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Heure de fin</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="dataEvent.heureF"></ion-datetime>
  </ion-item>
  <ion-input type="heure" [(ngModel)]="dataEvent.heureD"></ion-input>
  <ion-input placeholder="heure fin" [(ngModel)]="dataEvent.heureF"></ion-input>
  <ion-button (click)="Post()">Poster</ion-button>
</ion-content>-->
<ion-content class="white">





  <div class="container-fluid" rows="12">
  <div class="col-12">
  
  
    <img  *ngIf="dataEvent.photocrop" (click)="addPhoto()" class="addpic" [src]="dataEvent.photocrop">
    <img *ngIf="!dataEvent.photocrop" (click)="addPhoto()" class="addpic"  src='/assets/baseevent2.svg'>
    <img (click)="addPhoto()" class="event" src= '/assets/addevent2.svg'/>
  
  
    <div class="col-5 asso" rows="12" >
  
      <img class="logo" src="/assets/choixasso-none.png" alt="addpic"> 
  
    </div>
  
  
  
    
  <div class="col=7 name">
    <ion-input [(ngModel)]="dataEvent.titre" [ngModelOptions]="{standalone: true}"  placeholder="Nom de l'évènement" type="text" class="nevent"></ion-input>   
    <h2>Nom asso</h2> 
  
  
  
  </div>
  
  
  </div>
  </div>
  
  
    <div class="container-fluid mt-auto">
      <div class=" row col-12 cardbg justify-content-center"> 
  
  
  
        <div class="col-11 hbt cardbg2 row text-center">
  
  
          <div class="col-4">
            <img (click)="chooseDate()" class="ico" src="assets/date.svg" alt="date de l'event" />
           <!-- <h6 [(ngModel)]="dataEvent.date" [ngModelOptions]="{standalone: true}"  placeholder="Date de l'évènement" type="date" class="holder"></ion-textarea> -->
            <h6  (click)="chooseDate()" >{{ dataEvent.date }}<br/> {{ dataEvent.heureD}} - {{ dataEvent.heureF}}</h6>
          </div>
  
          
  
          <span class="col-4 border-left border-right">
            <span>
  
              <img class="ico"  src="assets/bene.svg" alt="nombre de benevole" />
              <ion-textarea [(ngModel)]="dataEvent.maxgens" [ngModelOptions]="{standalone: true}"  placeholder="Bénévoles demandés" type="text" class="holder"></ion-textarea>
            </span>
          </span>
  
  
  
          <div class="col-4">
            <img class="ico"  src="assets/time.svg" alt="temps restant" />
            <ion-textarea [(ngModel)]="dataEvent.deadline" [ngModelOptions]="{standalone: true}" placeholder="Temps restant" type="HH:mm" class="holder"></ion-textarea>
          </div>
  
        </div>
  
  
          <div class="col-11 info">
            <p class="smalltitle">Details de l'évènement</p>
            <ion-textarea placeholder="Renseigner une déscription de l'évènement" type="text" class="inputinfo form-control" rows="8"></ion-textarea>
          </div>
  
          
  
  
  
  
  
  
  
        <div class="col-11 map">
          <div>  
            <h6 class="col-12 adress"> Adresse de l'evenement </h6>
          </div>
  
        </div>
  
        <div class="container-fluid">
          <div class="col-12 row">
            <div class="col-6 d-flex justify-content-center>">
              
              <button type="submit" class="btn font bc">Supprimer</button>
            </div>
  
            <div class="col-6 d-flex justify-content-center>">
  
                <button type="submit" class="btn font bv">Publier</button>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  
  
  </ion-content>
  
 