<ion-header>
</ion-header>

<ion-content>
  <body>
  <div class="container">
    <div class="col-12"> 
      <img class="logo mt-5 bt-2" src="assets/logo-unibee-white.png" alt="logo" />
      <p class="unibee-name text-center font-weight-light">Unibee</p>
      <img class="back" src="assets/back-white.svg" alt="back" />
    </div>
  </div>

  <div class=container>
    <div class="col-12"> 

      <div class="card">
      <div class="row">
        <div class="col-6">    
          <p class="identify">Nom</p>                            
          <div class="form-group champ">
          <input type="text" class="form-control rounded-pill form-control-lg"
              placeholder="Nom"></div>
            </div>
        <div class="col-6">   
          <p class="identify">Prénom</p>       
          <div class="form-group champ">
          <input type="text" class="form-control rounded-pill form-control-lg"
              placeholder="Prénom"></div>
            </div>
        </div>

        <div class="col-12">    
          <p class="identify2">Adresse email</p>                            
          <div class="form-group">
          <input type="email" class="form-control rounded-pill form-control-lg"
              placeholder="Adresse email"></div>
            </div>

            <div class="col-12">    
              <p class="identify2">Mot de passe</p>                            
              <div class="form-group">
              <input type="password" class="form-control rounded-pill form-control-lg"
                  placeholder="Mot de passe"></div>
                </div>
                <a href="#">
                <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase bouton">S'enregistrer</button></a>

<div class="col-12 container">

  <p class="mt-3 font-weight-normal">
      <a href="#">
          <strong class="footer">j'ai déjà un Compte</strong>
      </a>
  </p>
    </div>
  </div>
</div>
</div>

</body>


</ion-content>

<!--<footer>
  <div class="col-12 container">

      <p class="mt-3 font-weight-normal">
          <a href="#">
              <strong class="footer">Se connecter</strong>
          </a>
      </p>
</div>
</footer>
-->