<ion-header>
  <ion-toolbar>
    <ion-title>acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button href="loginbene2">login bene</ion-button>
<ion-button href="choix">Bénévole/Asso</ion-button>
<ion-button href="registerbene">registerbene</ion-button>
<ion-button href="resterasso">registerasso</ion-button>
<ion-button href="splashscreen">splash</ion-button>
<ion-button href="loginasso">loginasso</ion-button>
<ion-button href="accountpublicasso">asso public</ion-button>
</ion-content>
