<ion-content class="white">





<div class="container">
<div class="col-12 nopad">

 <!-- <img class="addpic" src="/assets/addevent2.svg" alt="addpic"> -->
  <img class="event" src="assets/baseevent2.svg" />


  <div class="col-12 asso row align-items-center" rows="12" >

    <img class="logo" src="/assets/choixasso-none.png" alt="addpic"> 

    <div >
    <ion-input placeholder="Nom de l'évènement" type="text" class="nevent"></ion-input>   
      <h2>Nom asso</h2>  
    </div>

  </div>



  


</div>
</div>


  <div class="container-fluid mt-auto">
    <div class="row col-12 cardbg justify-content-center"> 



      <div class="col-11 hbt cardbg2 row text-center">


        <div class="col-4">
          <img class="ico" src="assets/date.svg" alt="date de l'event" />
          <ion-textarea placeholder="Date de l'évènement" type="date" class="holder"></ion-textarea>
        </div>

        

        <span class="col-4 border-left border-right">
          <span>

            <img class="ico"  src="assets/bene.svg" alt="nombre de benevole" />
            <ion-textarea placeholder="Bénévoles demandés" type="text" class="holder"></ion-textarea>
          </span>
        </span>



        <div class="col-4">
          <img class="ico"  src="assets/time.svg" alt="temps restant" />
          <ion-textarea placeholder="Temps 
        restant" type="HH:mm" class="holder"></ion-textarea>
        </div>

      </div>


        <div class="col-11 info">
          <p class="smalltitle">Details de l'évènement</p>
          <ion-textarea placeholder="Renseigner une déscription de l'évènement" type="text" class="inputinfo form-control" rows="8"></ion-textarea>
        </div>

        







      <div class="col-11 map">
        <div>  
          <h6 class="col-12 adress"> Adresse de l'evenement </h6>
        </div>

      </div>

      <div class="container-fluid">
        <div class="col-12 row">
          <div class="col-6 d-flex justify-content-center>">
            
            <button type="submit" class="btn font bc">Supprimer</button>
          </div>

          <div class="col-6 d-flex justify-content-center>">

              <button type="submit" class="btn font bv">Publier</button>

          </div>

        </div>
      </div>
    </div>
  </div>



</ion-content>
