<ion-header>

  
</ion-header>

<ion-content>

  <body>

      <div class="row col-12"> 
          <div class="col-6">
            <img class="back" src="assets/back-white.svg" alt="back" /></div>
            <div class="col-6 d-flex flex-row-reverse">
              <img class="settings" src="/assets/settings.svg" alt="settings" /></div>
          </div>



    <div class=container>
      <div class="col-12"> 
        <div class="card cardbg">
        <div class="row h-50">
          <div class="col-4 avatar cardprofil d-table-cell align-middle h-100">  
            <img class="avatar" src="/assets/avatar.png" alt="addpic">                           
              </div>

              <div class="col-6 nameasso">
                <div class="card card-tilte">  
            <h4>Aurelia</h4> <!-- Prénom -->  
            <h4>Price</h4>   <!-- Nom -->   
                </div>
              </div>
          
        </div>

        <div class="col-12 contact1">
          <p class="smalltitle">Email</p>
         <h5>unibee@gmail.com</h5>
        </div>


        <div class="col-12 contact2">
          <p class="smalltitle">Numéro de téléphone</p>
         <h5>07 87 56 44 32</h5>
        </div>



        </div>

        <div class="col-12 info">
          <p class="smalltitle">Informations</p>
         <h5 class="h7">Bienvenue sur Unibee, la première application de mise en relation entre les bénévoles et les associations.Bienvenue sur Unibee, la première application de mise en relation entre les bénévoles et les associations.Bienvenue sur Unibee, la première application de mise en relation entre les bénévoles et les associations.Bienvenue sur Unibee, la première application de mise en relation entre les bénévoles et les associations.Bienvenue sur Unibee, la première application de mise en relation entre les bénévoles et les associations.</h5>
        </div>

        
      </div>

      
      </div>

  </body>
</ion-content>


<footer >

  
  <div class="container2">
    <div class="row col-12 d-flex justify-content-center align-items-center>">
      <button type="submit" class="btn btn-custom font">Modifier</button>
            </div>
  </div>

    
</footer>